@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

#form__container {
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    background-color: #262625;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #lobby__form {
    padding: 2em;
    background-color:antiquewhite;
  }
  
  /* #form__container__header {
    border-radius: 10px 10px 0 0;
    padding: 10px;
    text-align: center;
    background-color: #F58601;
    margin: 0;
    font-size: 18px;
    font-size: 300;
    line-height: 0;
  } */
  
  .form__field__wrapper {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  .form__field__wrapper label {
    font-size: 14px;
    line-height: 1.7em;
    margin-bottom: 10px;
    display: block;
    color: black;
  }
  
  .form__field__wrapper input {
    box-sizing: border-box;
    color: black;
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 5px;
    padding: 16px 20px;
    font-size: 15px;
    background-color: white;
  }
  
  .form__field__wrapper button[type='submit'] {
    margin-top: 32px;
    cursor: pointer;
    background-color: #00C5A7;
    border: none;
    color: #fff;
    font-size: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 5px;
    gap: 10px;
  }
  
  .form__field__wrapper button[type='submit'] svg {
    fill: white;
    width: 20px;
  }
  
  #avatar__selection {
    margin-reight: 10px;
    display: flex;
    gap: 1em;
  }
  
  .avatar__option {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid #797a79;
  }
  
  .avatar__option__selected {
    border: 3px solid #845695;
  }
  #form__container__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff8c00;
    border-radius: 10px 10px 0 0;
  }
  
  .tab {
    text-decoration: none; /* Loại bỏ gạch chân */
    flex: 1;
    text-align: center;
    padding: 10px;
    color: white;
    font-weight: normal;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  
  .separator {
    width: 1px;
    height: 24px;
    background-color: white;
  }
  .active{
    background-color: #ff8c00;
  }
  .non_ac{
    background-color: #ffab44;
  
  }
  #message {
    font-size: 14px;
    color: red;
    margin-top: 10px;
  }